.comments
  .comments__left
    .comments__left__icon
      = link_to root_path do
        = image_tag src = 'goku.png', class: "tweet-icon"
  .comments__right
    .comments__right__top
      .comments__right__top__name あいうえお
      .comments__right__top__time 2019/11/12 13:40
    .comments__right__main コメントです。
    