$haikei: rgb(36, 38, 56);
$main-color: rgb(236, 189, 0);

.tweets-index {
  overflow: scroll;
  float: left;
  width: 48%;
  height: 100vh;
  background-color: $haikei;
  border-right: 1px solid rgba(238, 238, 238, 0.6);
  &__header {
    width: 100%;
    height: 50px;
    padding-top: 20px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.6);
    &__title {
      color: white;
      font-size: 20px;
      font-weight: 600;
      margin-left: 40px;
      float: left;
    }
    &__reload {
      float: right;
      color: white;
      font-size: 26px;
      margin: 3px 60px;
      transition    : .3s;
      &:hover {
        color: $main-color;
      }
    }
  }
}
.tweets-index__main {
  width: 100%;
  height: 100%;
}
// ユーザーの画像
.tweet-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition    : .3s;
  &:hover {
    opacity: .75;
  }
}
// ツイートの内容
.tweets-contents {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 90px;
  max-height: 750px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.6);
  background-color: $haikei;
  transition    : .2s;
  &:hover {
    background-color: rgba(44, 47, 80, 0.4);
  }
  &__left {
    float: left;
    width: 12%;
    min-height: 90px;
    max-height: 700px;
    &__icon {
      padding: 5px 0 0 23%;
    }
  }
  &__right {
    float: left; 
    width: 88%;
    min-height: 90px;
    max-height: 700px;
    
    &__top {
      width: 100%;
      height: 30px;
      &__name {
        float: left;
        min-width: 90px;
        max-width: 400px;
        height: 28px;
        padding: 2px 0 0 10px;
        color: white;
        font-weight: 600;
        font-size: 18px;
        transition    : .25s;
        &:hover {
          color: $main-color;
        }
      }
      &__time {
        float: left;
        width: 25%;
        height: 22px;
        padding: 6px 0 0 10px;
        font-size: 14px;
        color: white;
      }
    }
    &__main {
      color: white;
      width: 96.5%;
      min-height: 28px;
      max-height: 700px;
      & p {
        padding: 5px 10px 5px;
      }
    }
    &__bottom {
      float: left;
      width: 30%;
      height: 100%;
      &__comment {
        float: left;
        position: relative;
        width: 35%;
        height: 100%;
        margin-left: 3px;
        &:hover {
          color: $main-color;
          text-shadow: #FC0 5px 1px 60px;
        }
        &__icon {
          padding: 10px 8px 10px 10px;
          float: left;
          color: white;
        &:hover {
            color: $main-color;
          }
        }
        &__length {
          float: left;
          position: absolute;
          margin-top: 9px;
          color: white;
          font-size: 14px;
        }
      }
      &__like {
        float: left;
        position: relative;
        width: 35%;
        height: 100%;
        margin-left: 35px;
        &:hover {
          color: rgb(238, 53, 124);
          text-shadow: rgb(238, 53, 124) 5px 1px 60px;
        }
        &__icon {
          padding: 10px 8px 10px 10px;
          float: left;
          color: white;
        &:hover {
            color: rgb(238, 53, 124);
          }
        }
        &__length {
          float: left;
          position: absolute;
          margin-top: 9px;
          color: white;
          font-size: 14px;
        }
      }
    }
  }
}
