= render "shared/header"
.tweets-index
  .tweets-index__header
    %p.tweets-index__header__title ホーム
    = link_to root_path do
      = fa_icon "repeat", class: "tweets-index__header__reload"
  .tweets-index__main
    = render "tweets/tweet"